{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<main>
		<h1 class="my-5">{{ program.title }}
			- Saison
			{{ season.number }}</h1>
		<div class="row justify-content-center">
			<div>
				<h3>{{ season.year }}</h3>
				<p>{{ season.description }}</p>
				<p> Liste des épisodes : </p>
				<ul>
					{% for episode in episodes %}
						<li>
							{{ episode.number }}
							-
							{{ episode.title }}
						</li>
						<a href="{{ path('program_episode_show', {'program': program.slug, 'seasonId': season.id, 'episode': episode.slug}) }}">Voir</a>
					{% endfor %}
				</ul>
			</div>
			<a href="{{ path('program_show', {'slug': program.slug}) }}">Retour à la liste des saisons</a>
		</div>
	</main>
{% endblock %}
